[submodule "ubuntu"]
	path = ubuntu
	url = git@github.com:tgotwig/ubuntu.git
[submodule "alpine"]
	path = alpine
	url = git@github.com:tgotwig/alpine.git
[submodule "node"]
	path = node
	url = git@github.com:tgotwig/node.git
[submodule "dotfiles"]
	path = dotfiles
	url = git@github.com:tgotwig/dotfiles.git
[submodule "java"]
	path = java
	url = git@github.com:tgotwig/java.git
